<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_with(model: User.new, url: login_path) do |form| %>
  <div class="form-group">
    <%= form.label :email, "Email address" %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :password, "Password" %>
    <%= form.password_field :password, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit 'Logar', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Cadastrar Novo Usuário', new_user_path, class: 'btn btn-secondary' %>
<%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-danger', style: 'margin-top: 10px;' %>
