
    <!-- Navbar Bootstrap para posicionar o botão "Sair" -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Bem vindo ao portal</a>
            <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <% if logged_in? %>
                            <a href="<%= logout_path %>" class="btn btn-primary my-custom-btn">Sair</a>
                        <% else %>
                            <a href="<%= login_path %>" class="btn btn-primary my-custom-btn">Logar</a>
                        <% end %>
                        <%= link_to 'Ver Histórico', historico_path, class: 'btn btn-secondary' %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="title-container">
            <h2>Agendar consultas</h2>
            <a href="/agendar_consulta.html" class="btn btn-primary">Agendar Consulta</a>
            </div>

        

            <table id="consultas-table" class="table">
            <thead>
                <tr>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Local</th>
                    <th>Especialidade</th>
                </tr>
            </thead>
            <tbody>
                <!-- Consultas agendadas aparecerão aqui -->
                
            </tbody>
        </table>

        <%= stylesheet_link_tag 'style' %>

        <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; padding: 20px;">

                            <div class="card" style="width: 15rem;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROHW82s9trd1SU97fdUm5xa-BDpDLo8z95pKPz66BSfdJ3giqEq1roMpyLIujlvDZQkvw&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Dor</h5>
                                    <p class="card-text"></p>
                                    <a href="<%= dor_path %>" class="btn btn-primary my-custom-btn">Registrar</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOnpkXo_zH7nkyMmhDSUr-MR0dKtun-jZibQ&usqp=CAU" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Medicação</h5>
                                    <p class="card-text"></p>
                                    <a href="<%= remedio_path %>" class="btn btn-primary my-custom-btn">Confirmar Medicação</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQW5VImIEez6Zcso7PxXwf7DXBMrK0KQUOOgw&usqp=CAU" class="card-img-top" alt="Ícone de Sono">
                                <div class="card-body">
                                    <h5 class="card-title">Registrar Sono</h5>
                                    <p class="card-text"></p>
                                    <a href="<%= sono_path %>" class="btn btn-primary my-custom-btn">Registrar Sono</a>
                                </div>
                            </div>

                            <div class="card" style="width: 15rem;">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6xSdr5AHVwaI9I3b8N2qcTr0XBzONzRFdPRQfECksQfdopju7-Y8G03YpVHAq1-zw-1c&usqp=CAU" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">Exercício</h5>
                                    <p class="card-text"></p>
                                    <a href="<%= exercicio_path %>" class="btn btn-primary my-custom-btn">Registrar</a>
                                </div>
                            </div>

        </div>

        <div class="medication-history">
        <h2>Histórico de Medicamentos</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Remédio</th>
                    <th>Dose</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                <% if @medications.present? %>
                    <% @medications.each do |medication| %>
                        <tr>
                            <td><%= medication.name %></td>
                            <td><%= medication.dose %></td>
                            <td><%= medication.frequency %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <td colspan="3">Nenhum medicamento no histórico.</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    </div>
