<div class="container">
  <a href="<%= root_path %>" class="btn btn-primary back-button" style="position: absolute; top: 10px; left: 10px;">Voltar para a Página Inicial</a>

  <!-- Título "Medicação" com margem superior ajustada -->
  <h1 class="page-title">Medicação</h1>

  <!-- Formulário de cadastro de medicamentos -->
  <%= form_with(model: Medication.new, url: remedio_path, method: "post") do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="form-group">
      <%= form.label :dose %>
      <%= form.text_field :dose %>
    </div>
    <div class="form-group">
      <%= form.label :frequency %>
      <%= form.text_field :frequency %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  <% end %>

  <ul id="medications-list" class="list-group">
    <!-- Lista de medicamentos em cartões será adicionada aqui -->
    <div class="medication-cards">
      <!-- Cartões de medicamento serão inseridos aqui -->
    </div>
  </ul>
</div>
